
/*@import url("/stylesheet/_rain.css"); */
* {
    font-family: "Acme";
}

body, html {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #ffefd5;
}


.car {
    background-image: url("/images/blue_car.png");
    background-size: contain;
    width: 130px;
    height: 65px;
    position: fixed;
}

.bolt {
    background-image: url("/images/bolt.png");
    background-size: contain;
    width: 40px;
    height: 85px;
    position: fixed;
}

.gas {
    background-image: url("/images/Gas-Station.png");
    background-size: contain;
    width: 40px;
    height: 40px;
    position: fixed;
}

.rock {
    background-image: url("/images/rock.png");
    background-size: contain;
    width: 94px;
    height: 85px;
    position: fixed;
}

.scoreboard1 {
    position: fixed;
    margin: 50px 250px;
    border: solid 10px rgb(255, 187, 0);
    padding: 15px;
    border-radius: 100px;
    background-color: rgba(127, 202, 245, 0.226);
    font-size: 30px;
}

.scoreboard2 {
    position: fixed;
    margin: 50px 50px;
    border: solid 10px rgb(255, 0, 0);
    padding: 15px;
    border-radius: 100px;
    background-color: rgba(127, 202, 245, 0.226);
    font-size: 30px;
}

.gameOverAlert {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
    border: none;
    border-radius: 30px;
    background-color: rgba(0, 0, 255, 0.39);
    font-size: 72px;
}


canvas { 
    background: #CFF09E; display: block;
    background-size: cover;
}