
/*@import url("/stylesheet/_rain.css"); */
body, html {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #ffefd5;
}


.car {
    background-image: url("/images/blue_car.png");
    background-size: contain;
    width: 130px;
    height: 65px;
    position: fixed;
}

.bolt {
    background-image: url("/images/bolt.png");
    background-size: contain;
    width: 40px;
    height: 85px;
    position: fixed;
}

.gas {
    background-image: url("/images/Gas-Station.png");
    background-size: contain;
    width: 40px;
    height: 40px;
    position: fixed;
}

.scoreboard1 {
    position: fixed;
    margin-top: 50px;
    margin-left: 100px;
    border: dashed 3px red;
}

.scoreboard2 {
    position: fixed;
    margin-top: 50px;
    margin-right: 100px;
    border: dashed 3px green;
}

.gameOverAlert {
    position: fixed;
    width: 50vw;
    height: 50vh;
    border: solid 10px red; 
    background-color: blue;
    font-size: 72px;
    font-family: Arial, Helvetica, sans-serif;
}



canvas { 
    background: #CFF09E; display: block;
    background-size: cover;
}